main {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    color:#fff;
}

#search {
    padding: 20px 15px;
    text-align:center;
    width:100%;
    display:none;
}

#searchIcon {
    position:absolute;
    right:20px;
    top:20px;
    cursor:pointer;
    display:block;
}
#weather {
    width:100%;
    display:block;
    background:url('imgs/upper-bg.png') no-repeat;
    background-size:cover;
    padding-top:10px;
    position: relative;
    padding-bottom:50px;
}

#weather, #weatherMore {
    padding-left: 15px;
    padding-right:15px;
}
#weatherMore {
    background:#153785;
    text-align:center;
    padding:30px 50px;
    padding-bottom:50px;
    font-weight: 600
}
#weatherMore h2 {
    font-size:13px;    
    padding:30px 0;
}
.text-right {
    color:#EEFF07;
}

.hr {
    border-bottom:solid 1px #fff;}
.pad {
   margin-top:10px;
}

#weatherIcon img {
    width:73px;
    height:58px;
    display:inline-block;
    margin-top:15px;
    opacity: 0.8;
}

.weatherDisplay {
    text-align:center;
    margin-top:50px;
    
}
.weatherDisplay h1 {
    font-weight:700;
    font-size:22px;
    color:#EEFF07;
}

.tempC, .tempF {
    clear:both;
    display:block
}
.tempC {
    font-weight:800;
    font-size:36px;
    line-height: 0.8;
    margin-top:40px;
}
.tempF {
    font-weight: 800;
    font-size: 26px;
    color:rgba(223, 223, 223, 0.774)
}

#report {
    margin: 30px 0;
    font-weight:300;
    padding-bottom:20px;
}

footer {
    text-align:center;
    font-size:12px;
    background:#0A286B;
    padding: 20px 15px;
    color:#fff
}